<div class="wrapper">
    <div class="page-header page-header-xs" filter-color="yellow">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" [ngStyle]="{'background':'url(' + categoria.cover + ') no-repeat center center/cover'}">
        </div>
        <div class="container">
            <div class="content-center">
                <h1 class="title mb-0">{{ categoria.name }}</h1>
                <!-- <h4 class="header-slogan">No construimos tu sueño,<br>pero conocemos a quien si.</h4> -->
            </div>
        </div>
    </div>
    <div class="container my-4">
        <div class="row justify-content-center">
            <div class="col-6 col-md-4">
                <button type="button" (click)="selectionList('todos')" class="btn btn-primary btn-round btn-simple col-12 mx-0"><i class="fa fa-list mr-2"></i> Todos</button>
            </div>
            <div class="col-6 col-md-4">
                <button type="button" (click)="selectionList('popular')" class="btn btn-primary btn-round btn-simple col-12 mx-0"><i class="fa fa-star mr-2"></i> Mas populares</button>
            </div>
        </div>
        <!-- <div class="row" *ngIf="selection === 'popular'">
            <app-card-user class="col-12"></app-card-user>
        </div> -->

        <div class="row my-4 justify-content-center">
            <h3 class="col-12 text-center mt-2 mb-0" *ngIf="selection === 'popular'">Populares</h3>
            <h3 class="col-12 text-center mt-2 mb-0" *ngIf="selection === 'todos'">Todos</h3>
            <app-card-user class="col-12 col-md-6"></app-card-user>
            <app-card-user class="col-12 col-md-6"></app-card-user>
            <app-card-user class="col-12 col-md-6"></app-card-user>
        </div>
    </div>
</div>