<div class="wrapper">
    <div class="page-header page-header-xs" filter-color="yellow">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" [ngStyle]="{'background':'url(' + categoria.cover + ') no-repeat center center/cover'}">
        </div>
        <div class="container">
            <div class="content-center">
                <h1 class="title mb-0">{{ categoria.name }}</h1>
                <!-- <h4 class="header-slogan">No construimos tu sueño,<br>pero conocemos a quien si.</h4> -->
            </div>
        </div>
    </div>
    <div class="container my-4">
        <div class="row">
            <div class="col-6">
                <button type="button" (click)="selectionList('todos')" class="btn btn-primary btn-round btn-simple col-12 mx-0"><i class="fa fa-list mr-2"></i> Todos</button>
            </div>
            <div class="col-6">
                <button type="button" (click)="selectionList('popular')" class="btn btn-primary btn-round btn-simple col-12 mx-0"><i class="fa fa-star mr-2"></i> Mas populares</button>
            </div>
        </div>
        <div class="row my-4">
            <div class="col-12" *ngIf="selection === 'todos'">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-6">
                        <div class="profile">
                            <div class="photo"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/764024/profile/profile-512.jpg" /></div>
                            <div class="content">
                                <div class="text">
                                    <h3>Jorge Antuna</h3>
                                    <h6>Arquitecto</h6>
                                    <h6 class="mt-2">
                                        <i class="mr-1 fa fa-star" aria-hidden="true"></i>
                                        <i class="mr-1 fa fa-star" aria-hidden="true"></i>
                                        <i class="mr-1 fa fa-star" aria-hidden="true"></i>
                                        <i class="mr-1 fa fa-star" aria-hidden="true"></i>
                                        <i class="mr-1 fa fa-star-half" aria-hidden="true"></i>
                                    </h6>
                                </div>
                                <!-- <div class="btn"><span></span></div> -->
                                <div class="btn"><i class="fa fa-arrow-right" aria-hidden="true"></i> </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="profile">
                            <div class="photo"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/764024/profile/profile-512.jpg" /></div>
                            <div class="content">
                                <div class="text">
                                    <h3>Jorge Antuna</h3>
                                    <h6>Arquitecto</h6>
                                </div>
                                <div class="btn"><span></span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12" *ngIf="selection === 'popular'">
                Populares
            </div>
        </div>
    </div>
</div>