<div class="wrapper my-5">
    <div class="container">
        <div class="row justify-content-center my-4">
            <!-- <div class="col-8 col-sm-6 col-md-3">
                <div class="photo-container">
                    <img class="rounded-circle"src="assets/img/ryan.jpg" alt="">
                </div>
            </div>
            <button href="#" class="btn btn-warning btn-round btn-icon my-1" rel="tooltip" title="Follow me on Instagram">
                <i class="now-ui-icons media-1_camera-compact"></i>
            </button> -->
            <div class="col-8 col-sm-6 col-md-3 justify-content-center">
                <div class="photo-container">
                    <img class="rounded-circle"src="assets/img/ryan.jpg" alt="">
                </div>
            </div>
            <button class="btn btn-warning btn-round btn-icon my-1" rel="tooltip" title="Cambiar imagen." (click)="open( modalImage )">
                <i class="now-ui-icons media-1_camera-compact"></i>
            </button>

            <!-- Modal #modalImage name to modal open -->
            <ng-template #modalImage let-c="close" let-d="dismiss">
                <div class="modal-header">
                    <h5 class="modal-title text-center">Recortar imagen y guardar.</h5>
                    <button type="button" class="close" (click)="d('Cross click')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="1 / 1"
                        [resizeToWidth]="210" [imageQuality]="100" format="png" (imageCropped)="imageCropped($event)"
                        (imageLoaded)="imageLoaded()" (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()">
                    </image-cropper>
                    <label for="file-input" class="btn btn-primary btn-round">
                        <i class="now-ui-icons media-1_camera-compact"></i>
                    </label>
                    <input id="file-input" type="file" (change)="fileChangeEvent($event)"/>
                </div>
                <div class="modal-footer">
                    <div class="left-side">
                        <button type="button" class="btn btn-warning btn-round btn-icon" (click)="c('Close click')">Never mind</button>
                    </div>
                    <div class="divider"></div>
                    <div class="right-side">
                        <button type="button" class="btn btn-warning btn-round btn-icon" (click)="c('Close click')">Delete</button>
                    </div>
                </div>
            </ng-template>
        </div>
        <!-- INFORMACION PERSONAL -->
        <hr class="col-12 col-md-8">
        <div class="row">
            <h3 class="col-12 text-center">Información personal</h3>
        </div>
        <div class="row justify-content-center">
            <div class="col-10  col-md-5">
                <div class="input-group form-group-no-border input-lg">
                    <input type="text" class="form-control" placeholder="RFC">
                </div>
            </div>
            <button href="#" class="btn btn-warning btn-round btn-icon my-1" rel="tooltip" title="Editar RFC">
                <i class="fa fa-edit"></i>
            </button>
        </div>
        <div class="row justify-content-center">
            <div class="col-10  col-md-5">
                <div class="input-group form-group-no-border input-lg">
                    <div class="input-group-prepend">
                        <span class="input-group-text">  <i class="now-ui-icons users_circle-08"></i></span>
                    </div>
                    <input type="text" class="form-control" name="nombre" [(ngModel)]="userModel.name" placeholder="Nombre">
                </div>
            </div>
            <button href="#" class="btn btn-warning btn-round btn-icon my-1" rel="tooltip" title="Editar nombre">
                <i class="fa fa-edit"></i>
            </button>
        </div>
        <div class="row justify-content-center">
            <div class="col-11  col-md-5">
                <div class="input-group form-group-no-border input-lg">
                    <input type="text" class="form-control" placeholder="Apellido paterno">
                </div>
            </div>
            <div class="col-10  col-md-5">
                <div class="input-group form-group-no-border input-lg">
                    <input type="text" class="form-control" placeholder="Apellido materno">
                </div>
            </div>
            <button href="#" class="btn btn-warning btn-round btn-icon my-1" rel="tooltip" title="Editar apellidos">
                <i class="fa fa-edit"></i>
            </button>
        </div>
        <div class="row justify-content-center">
            <div class="col-10">
                <div class="input-group form-group-no-border input-lg">
                    <input type="text" class="form-control" placeholder="Dirección 'No. Calle, Colonia'">
                </div>
            </div>
            <button href="#" class="btn btn-warning btn-round btn-icon my-1" rel="tooltip" title="Editar dirección">
                <i class="fa fa-edit"></i>
            </button>
        </div>
        <!-- DATOS DE CONTACTO -->
        <hr class="col-12 col-md-8">
        <div class="row">
            <h3 class="col-12 text-center">Datos de contacto</h3>
        </div>
        <div class="row justify-content-center">
            <div class="col-10  col-md-5">
                <div class="input-group form-group-no-border input-lg">
                    <div class="input-group-prepend">
                        <span class="input-group-text">  <i class="fa fa-phone"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Telefono de contacto 1">
                </div>
            </div>
            <button href="#" class="btn btn-warning btn-round btn-icon my-1" rel="tooltip" title="Editar numero de Telefono">
                <i class="fa fa-edit"></i>
            </button>
        </div>
        <div class="row justify-content-center">
            <div class="col-10  col-md-5">
                <div class="input-group form-group-no-border input-lg">
                    <div class="input-group-prepend">
                        <span class="input-group-text">  <i class="fa fa-phone"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Telefono de contacto 2">
                </div>
            </div>
            <button href="#" class="btn btn-warning btn-round btn-icon my-1" rel="tooltip" title="Editar numero de Telefono">
                <i class="fa fa-edit"></i>
            </button>
        </div>
        <div class="row justify-content-center">
            <div class="col-10  col-md-5">
                <div class="input-group form-group-no-border input-lg">
                    <div class="input-group-prepend">
                        <span class="input-group-text">  <i class="fa fa-envelope-o"></i></span>
                    </div>
                    <input type="email" class="form-control" placeholder="Email">
                </div>
            </div>
            <button href="#" class="btn btn-disabled btn-round btn-icon my-1" rel="tooltip" disabled title="Editar email">
                <i class="fa fa-edit"></i>
            </button>
        </div>
        <div class="row justify-content-center">
            <div class="col-10  col-md-5">
                <div class="input-group form-group-no-border input-lg">
                    <div class="input-group-prepend">
                        <span class="input-group-text">  <i class="fa fa-globe"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Sitio web">
                </div>
            </div>
            <button href="#" class="btn btn-warning btn-round btn-icon my-1" rel="tooltip" title="Editar instagram">
                <i class="fa fa-edit"></i>
            </button>
            <div class="col-10  col-md-5">
                <div class="input-group form-group-no-border input-lg">
                    <div class="input-group-prepend">
                        <span class="input-group-text">  <i class="fa fa-facebook"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Facebook">
                </div>
            </div>
            <button href="#" class="btn btn-warning btn-round btn-icon my-1" rel="tooltip" title="Editar facebook">
                <i class="fa fa-edit"></i>
            </button>
        </div>
        <div class="row justify-content-center">
            <div class="col-10  col-md-5">
                <div class="input-group form-group-no-border input-lg">
                    <div class="input-group-prepend">
                        <span class="input-group-text">  <i class="fa fa-twitter"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Twitter">
                </div>
            </div>
            <button href="#" class="btn btn-warning btn-round btn-icon my-1" rel="tooltip" title="Editar twitter">
                <i class="fa fa-edit"></i>
            </button>
            <div class="col-10  col-md-5">
                <div class="input-group form-group-no-border input-lg">
                    <div class="input-group-prepend">
                        <span class="input-group-text">  <i class="fa fa-instagram"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Instagram">
                </div>
            </div>
            <button href="#" class="btn btn-warning btn-round btn-icon my-1" rel="tooltip" title="Editar instagram">
                <i class="fa fa-edit"></i>
            </button>
        </div>
        <!-- PORTAFOLIO -->
        <hr class="col-12 col-md-8">
        <div class="row">
            <h3 class="col-12 text-center">Portafolio</h3>
        </div>

        <div class="row">
            <div class="card-columns">
                <div class="card card-add-image">
                    <button class="btn btn-warning btn-round btn-icon btn-lg my-4"><i class="fa fa-plus"></i></button>
                </div>
                <div class="card">
                    <img src="assets/img/bg6.jpg" class="card-img">
                </div>
                <div class="card">
                    <img src="assets/img/bg7.jpg" alt="" class="card-img">
                </div>
                <div class="card">
                    <img src="assets/img/bg7.jpg" alt="" class="card-img">
                </div>
                <div class="card">
                    <img src="assets/img/bg11.jpg" alt="" class="card-img">
                </div>
                <div class="card">
                    <img src="assets/img/bg6.jpg" class="card-img">
                </div>
                <div class="card">
                    <img src="assets/img/bg7.jpg" alt="" class="card-img">
                </div>
                <div class="card">
                    <img src="assets/img/bg7.jpg" alt="" class="card-img">
                </div>
                <div class="card">
                    <img src="assets/img/bg11.jpg" alt="" class="card-img">
                </div>
                <div class="card">
                    <img src="assets/img/bg6.jpg" class="card-img">
                </div>
                <div class="card">
                    <img src="assets/img/bg11.jpg" alt="" class="card-img">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="row">
    <div class="image-upload">
        <label for="file-input" class="btn btn-primary btn-round">
            <i class="now-ui-icons media-1_camera-compact"></i>
        </label>
        <input id="file-input" type="file" (change)="fileChangeEvent($event)"/>
    </div>
</div>
<div class="row">
    <div class="col-4 justify-content-center">
        <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="1 / 1"
            [resizeToWidth]="200" [imageQuality]="100" format="png" (imageCropped)="imageCropped($event)"
            (imageLoaded)="imageLoaded()" (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()">
        </image-cropper>
    </div>
    <div class="col-sm-6 col-lg-4">
    </div>
</div>
<div class="row">
    <div class="col-12">
        <img [src]="croppedImage" />
    </div>
    <div class="col-3">
        <button class="btn btn-primary btn-round col-12" (click)="save()">Guardar cambios</button>
    </div>
</div> -->