<div class="wrapper">
    <div class="page-header page-header-small" filter-color="yellow">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/bg5.jpg') ;">
        </div>
        <div class="container">
            <div class="content-center">
                <div class="photo-container">
                    <img src="assets/img/ryan.jpg" alt="">
                </div>
                <h3 class="title">Name LastName</h3>
                <p class="category">Arquitecto</p>
                <div class="content">
                    <div class="social-description">
                        <h2>26</h2>
                        <p>Comentarios</p>
                    </div>
                    <div class="social-description">
                        <h2>5/5</h2>
                        <p>Puntaje</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="button-container">
                <a href="#button" class="btn btn-primary btn-round btn-lg">Seguir</a>
                <a href="#button" class="btn btn-warning btn-round btn-lg btn-icon" rel="tooltip" title="Follow me on Twitter">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="#button" class="btn btn-warning btn-round btn-lg btn-icon" rel="tooltip" title="Follow me on Instagram">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="#button" class="btn btn-warning btn-round btn-lg btn-icon" rel="tooltip" title="Follow me on Instagram">
                    <i class="fab fa-facebook"></i>
                </a>
            </div>
            <h3 class="title">Comentarios destacados</h3>
            <h5 class="description">

            </h5>
            <div class="row">
                <div class="col-md-12">
                    <ngb-tabset [justify]="'center'" type="pills" class="nav nav-pills nav-pills-primary  nav-pills-just-icons justify-content-center tab-space">
                        <ngb-tab class="btn-tooltip">
                            <ng-template ngbTabTitle>
                                <i class="now-ui-icons business_badge"></i>
                            </ng-template>
                            <ng-template class="m-0" ngbTabContent>
                                <div class="row">
                                    <div class="col-12">
                                        <h4 class="mb-3 mt-0 title text-center">Contacto</h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-10 ml-auto mr-auto">
                                        <div class="row collections">
                                            <div class="col-md-6">
                                                <a href="#button" class="btn btn-primary btn-round btn-lg col-12"><i class="fa fa-phone"></i> Llamar ahora</a>
                                            </div>
                                            <div class="col-md-6">
                                                <a href="#button" class="btn btn-primary btn-round btn-lg col-12"><i class="fa fa-comment"></i> Enviar mensaje</a>
                                            </div>
                                            <div class="col-12">
                                                <a class="btn btn-primary btn-simple btn-round" href="mailto:email@email.com"><i class="now-ui-icons ui-1_email-85"></i> email@email.com</a>
                                                <a class="btn btn-primary btn-simple btn-round" href="http://ecmc.me/" target="_blank"><i class="fa fa-globe"></i> ecmc.me</a>
                                            </div>
                                            <div class="col-12">
                                                <p class="blockquote blockquote-primary btn-round">
                                                    Avenida 4, Calle 5. CP. 34000 Durango, Dgo. MX Lorem ipsum dolor sit.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab>
                            <ng-template ngbTabTitle>
                                <i class="now-ui-icons design_image"></i>
                            </ng-template>
                            <ng-template class="m-0" ngbTabContent>
                                <div class="row">
                                    <div class="col-12">
                                        <h4 class="mb-3 mt-0 title text-center">Portafolio</h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-11 ml-auto mr-auto">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="card-columns">
                                                    <div class="card">
                                                        <img src="assets/img/bg6.jpg" class="card-img">
                                                    </div>
                                                    <div class="card">
                                                        <img src="assets/img/bg7.jpg" alt="" class="card-img">
                                                    </div>
                                                    <div class="card">
                                                        <img src="assets/img/bg7.jpg" alt="" class="card-img">
                                                    </div>
                                                    <div class="card">
                                                        <img src="assets/img/bg11.jpg" alt="" class="card-img">
                                                    </div>
                                                    <div class="card">
                                                        <img src="assets/img/bg6.jpg" class="card-img">
                                                    </div>
                                                    <div class="card">
                                                        <img src="assets/img/bg7.jpg" alt="" class="card-img">
                                                    </div>
                                                    <div class="card">
                                                        <img src="assets/img/bg7.jpg" alt="" class="card-img">
                                                    </div>
                                                    <div class="card">
                                                        <img src="assets/img/bg11.jpg" alt="" class="card-img">
                                                    </div>
                                                    <div class="card">
                                                        <img src="assets/img/bg6.jpg" class="card-img">
                                                    </div>
                                                    <div class="card">
                                                        <img src="assets/img/bg11.jpg" alt="" class="card-img">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab>
                            <ng-template ngbTabTitle>
                                <i class="now-ui-icons ui-2_chat-round"></i>
                            </ng-template>
                            <ng-template class="m-0" ngbTabContent>
                                <div class="row">
                                    <div class="col-12">
                                        <h4 class="mb-3 mt-0 title text-center">Reseñas</h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-10 ml-auto mr-auto">
                                        <div class="row collections">
                                            <div class="col-md-6">
                                                <img src="assets/img/bg3.jpg" alt="" class="img-raised">
                                                <img src="assets/img/bg8.jpg" alt="" class="img-raised">
                                            </div>
                                            <div class="col-md-6">
                                                <img src="assets/img/bg7.jpg" alt="" class="img-raised">
                                                <img src="assets/img/bg6.jpg" class="img-raised">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                    </ngb-tabset>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer footer-default">
        <div class="container">
            <nav>
                <ul>
                    <li>
                        <a href="https://www.creative-tim.com">
                            Creative Tim
                        </a>
                    </li>
                    <li>
                        <a href="https://www.creative-tim.com/about-us">
                            About Us
                        </a>
                    </li>
                    <li>
                        <a href="http://blog.creative-tim.com">
                            Blog
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/creativetimofficial/now-ui-kit/blob/master/LICENSE.md">
                            MIT License
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright">
                &copy; {{data | date: 'yyyy'}}, Designed by
                <a href="https://www.invisionapp.com" target="_blank">Invision</a>. Coded by
                <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
            </div>
        </div>
    </footer>
</div>